<h2> {{ moduleName + '.management.' | translate }} </h2>
<form [formGroup]="searchForm" style="margin: 0px 1rem; text-align: center">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <ns-input name="staffCode" formControlName="staffCode"
              [placeholder]="moduleName + '.management.search.staffCode'"
              [hint]=""
              style="width: calc(33% - 1rem);"></ns-input>
    <ns-input name="fullName" formControlName="fullName"
              [placeholder]="moduleName + '.management.search.fullName'"
              [hint]=""
              style="width: calc(33% - 1rem);"></ns-input>
    <ns-input name="birthDate" formControlName="birthDate"
              [placeholder]="moduleName + '.management.search.birthDate'"
              [hint]=""
              style="width: calc(33% - 1rem);"></ns-input>
    <ns-input name="hireDate" formControlName="hireDate"
              [placeholder]="moduleName + '.management.hireDate'"
              [hint]=""
              style="width: calc(33% - 1rem);"></ns-input>
    <ns-multi-select-autocomplete name="status" formControlName="status"
                                  [multiple]="false" [options]="statusValues"
                                  [placeholder]="moduleName + '.management.search.status'"
                                  style="width: calc(33% - 1rem);">
    </ns-multi-select-autocomplete>
  </div>
  <button mat-fab color="primary" style="width: 60px;" type="button" (click)="onSubmit()">
    <mat-icon>search</mat-icon>
  </button>
</form>
<div class="content">
  <ns-table [columns]="columns" [buttons]="buttons"
            [paging]="paging" (pagingChange)="pagingChange($event)"
            [moduleName]="moduleName" [results]="results"
            (clickAction)="onRowButtonClick($event)">
  </ns-table>
</div>
